.vscode/
.idea/

*.pyc
venv/

.DS_Store

__pycache__/
*.py[cod]
*$py.class
# Django stuff:
*.log
local_settings.py
db.sqlite3

# PyBuilder
target/

#dependency
package/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/